@import './nullstyle.css';
@import './stylekit.css';

body {
	font-weight: 400;
	display: flex;
	justify-content: center;
	position: relative;
	font-family: 'Montserrat', serif;
	font-size: 14px;
	background-color: var(--color-white);
}
#content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	width: inherit;
}
.wrapper {
	width: inherit;
}
.container {
	width: var(--container);
  margin: 0 auto;
  min-height: 100%;
}
